* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    overflow: hidden;
    background: #E9EBEE;
}
:root {
    --green:#007336;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
    background: var(--green);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--green);
}
.surah-page {
    width: 100%;
    height: 100svh;
    display: flex;
    align-items: start;
    flex-direction: row;
    
}
.surah-page .surah-sidebar {
    background: #ffffff;
    width: 30%;
    max-width: 400px;
    height: 100svh;
    padding: 2rem .5rem;
    border-right: 2px solid #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: 3px;
}
.surah-sidebar ol {
    list-style: none;
    display: flex;
    flex-direction: column;
}
.surah-sidebar ol > li:hover {
    background: var(--green);
    transition: .2s;
}
.surah-sidebar ol > li:hover a {
    color:#fff;
    transition: .1s;
}
.surah-sidebar ol > li {

    padding: .5rem 1rem;
}
.surah-sidebar ol > li a {
    color: #007336;
    font-size: 1.2rem;
    text-decoration: none;
}
.surah-page .surah-menu {
    width: 100%;
    background: #fff;
    background-size: cover;
    color: #c4dad2;
    height: 100svh;
    padding-top: 2rem;
    overflow-y: auto;
}
.surah-menu h1 {
    text-align: center;
    margin: 2rem 0;
}
.surah-menu__ayahs {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.surah-ayahs__card {
    width: 100%;
    min-height: 150px;
    padding: 20px 50px;
    color: #000;

}

#menu-surah-name{  
    text-align: center;
}
.menu-ayahs-list  {
    list-style: none;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.menu-ayahs-list >li {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
}
.menu-ayahs-list >li:hover {
    background: #E9EBEE;
}
.arabic-text {
    text-align: right;
}
.menu-ayahs-list li {
    margin-top: 10px;
}
#surah-name-list li {
    white-space: nowrap;
}
.menu-ayahs-list>li span{
    color:rgb(183, 180, 180);
}