* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    overflow: hidden;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #000000;
}
.surah-page {
    width: 100%;
    height: 100svh;
    display: flex;
    align-items: start;
    flex-direction: row;
    
}
.surah-page .surah-sidebar {
    background: #c4dad2;
    width: 30%;
    max-width: 400px;
    height: 100svh;
    padding: 2rem;
    border-right: 2px solid #fff;
    overflow-y: scroll;
    scrollbar-width: 3px;
}
.surah-sidebar ol {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.surah-sidebar ol > li a {
    color: #16423c;
    font-size: 1.2rem;
    text-decoration: none;
}
.surah-sidebar ol > li a:hover {
    text-decoration: underline;
    color: #000101;
}
.surah-page .surah-menu {
    width: 100%;
    background: url(../images/2597.jpg);
    background-size: cover;
    color: #c4dad2;
    height: 100svh;
    padding-top: 2rem;
    overflow-y: auto;
}
.surah-menu h1 {
    text-align: center;
    margin: 2rem 0;
}
.surah-menu__ayahs {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.surah-ayahs__card {
    width: 100%;
    min-height: 150px;
    padding: 20px 50px;
    background: #000000be;
    color: #ffffff;

}
.menu-ayahs-list  {
    list-style: none;
    padding: 1rem 2rem;
    font-size: 1.5rem;
}
.menu-ayahs-list li {
    margin-top: 10px;
}
#surah-name-list li {
    white-space: nowrap;
}